version: "3.7"

services:
  mysqldb1:
   container_name: mysqldb1
   image: mysql:5.6
   restart: always
   environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: tpachat
    MYSQL_ROOT: root
    MYSQL_PASSWORD: root
    MYSQL_HOST: mysqldb1
   ports:
    - 3307:3306    

   healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
   volumes:
     - /home/mysql/data:/var/lib/mysql --user 1000

  spring_app:
   image: khaedkhm/tpachatproject-1.0:latest
   container_name: tpachatproject-1.0
   ports:
    - 8089:8089
   environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb1:3306/tpachat?createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: tpachat
   restart: on-failure
   links:
      - mysqldb1
  angular-app: 
   image: "khaledkhm/achatfront:latest"
   links: 
     -  spring_app
   ports: 
     - "4200:4200"
